Xft.antialias: true

*background: [85]#191919
*foreground: #d4d4d4

*color0: #828282
*color8: #828282
*color1: #DF5452
*color9: #DF5452
*color2: #529E72
*color10: #529E72
*color3: #CA9849
*color11: #CA9849
*color4: #5E87C9
*color12: #5E87C9
*color5: #9D68D3
*color13: #9D68D3
*color6: #D15796
*color14: #D15796
*color7: #D4D4D4
*color15: #D4D4D4

URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.saveline: 2048
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.iso14755: false

URxvt.transparent: flase
URxvt.shading: 55
URxvt.blurRadius: 12

URxvt*font: 		xft:Iosevka:antialias=true Term:size=12
URxvt*boldFont:		xft:Iosevka Term:bold:size=12
URxvt*italicFont:		xft:Iosevka Term:italic:size=12
URxvt*scrollBar: 	false
URxvt*cursorUnderline:	false
URxvt*cursorBlink:	true
URxvt*depth: 32
URxvt*lineSpace: 1
URxvt*letterSpace: .75
URxvt.internalBorder: 20

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

xterm*font:     *-fixed-*-*-*-18-*
