
Xft.antialias: true

! special
*.foreground: #eeeeee
*.background: #303030
*.cursorColor: #afd7ff

! black
*.color0: #303030
*.color8: #3f3939

! red
*.color1: #ffafd7
*.color9: #ffc8e3

! green
*.color2: #afffd7
*.color10: #c8ffe3

! yellow
*.color3: #ffaf87
*.color11: #ffc0a0

! blue
*.color4: #afd7ff
*.color12: #afd7ff

! magenta
*.color5: #ffd7ff
*.color13: #fff0ff

! cyan
*.color6: #d7d7ff
*.color14: #f0f0ff

! white
*.color7: #eeeeee
*.color15: #808080

URxvt.saveline: 2048
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.iso14755: false

URxvt.transparent: flase
URxvt.shading: 55
URxvt.blurRadius: 12

URxvt*font: 		xft:Julia Mono:antialias=true Term:size=18
URxvt*boldFont:		xft:Julia Mono:bold:size=18
URxvt*italicFont:		xft:Julia Mono:italic:size=18
URxvt*scrollBar: 	false
URxvt*cursorUnderline:	false
URxvt*cursorBlink:	true
URxvt*depth: 32
URxvt*lineSpace: 12
URxvt*letterSpace: -1.5
URxvt.internalBorder: 20

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

xterm*font:     *-fixed-*-*-*-18-*
