Xft.antialias: true

! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #333333
*.color8:       #333333

! red
*.color1:       #a5a5a5
*.color9:       #a5a5a5

! green
*.color2:       #b4b4b4
*.color10:      #b4b4b4

! yellow
*.color3:       #c3c3c3
*.color11:      #c3c3c3

! blue
*.color4:       #00cc00
*.color12:      #00cc00

! magenta
*.color5:       #d2d2d2
*.color13:      #d2d2d2

! cyan
*.color6:       #e1e1e1
*.color14:      #e1e1e1

! white
*.color7:       #f0f0f0
*.color15:      #f0f0f0


!! URxvt Appearance
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.saveline: 2048
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.iso14755: false

URxvt.transparent: false
URxvt.shading: 55
URxvt.blurRadius: 12

URxvt*font: 		xft:Iosevka Term:size=14
URxvt*boldFont:		xft:Iosevka Term:bold:size=14
URxvt*scrollBar: 	false
URxvt*cursorUnderline:	false
URxvt*cursorBlink:	true
URxvt*depth: 32
URxvt*lineSpace: 1
URxvt*letterSpace: .75
URxvt.internalBorder: 20

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
