! black
*.color0:       #111111
*.color8:       #888888

! red
*.color1:       #63424b
*.color9:       #63424b

! green
*.color2:       #536872
*.color10:      #536872

! yellow
*.color3:       #365b73
*.color11:      #365b73

! blue
*.color4:       #614051
*.color12:      #614051

! magenta
*.color5:       #277050
*.color13:      #277050

! cyan
*.color6:       #9f4a9b
*.color14:      #9f4a9b

! white
*.color7:       #f2f3f4
*.color15:      #c5c8c6


!*.foreground:		#000000
!*.background:		#eeeeee
!*.cursorColor:		#9cd8e7

Xft.dpi:		96
Xft.hinting:		1
Xft.hintstyle:		hintlight
Xft.antialias:		1
Xft.rgba:		rgb

URxvt.font:             xft:Iosevka Term:style=Regular:size=18
URxvt.boldFont:         xft:Iosevka Term:style=Bold:size=18
URxvt.italicFont:	xft:Iosevka Term:style=Italic:size=18
URxvt.scrollBar:        false
URxvt.iso14755:         false
URxvt.internalBorder:   5
URxvt.letterSpace:      0

URxvt*cursorBlink:	true

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.perl-ext-common: "default, -searchable-scrollback"
