! special
*.foreground:   #d1d1d1
*.background:   #000000
*.cursorColor:  #d1d1d1

! black
*.color0:       #232323
*.color8:       #848484

! red
*.color1:       #c7ae95
*.color9:       #c7ae95

! green
*.color2:       #95c7ae
*.color10:      #95c7ae

! yellow
*.color3:       #aec795
*.color11:      #aec795

! blue
*.color4:       #ae95c7
*.color12:      #ae95c7

! magenta
*.color5:       #c795ae
*.color13:      #c795ae

! cyan
*.color6:       #95aec7
*.color14:      #95aec7

! white
*.color7:       #d1d1d1
*.color15:      #f5f5f5


Xft.dpi:		96
Xft.hinting:		1
Xft.hintstyle:		hintlight
Xft.antialias:		1
Xft.rgba:		rgb

URxvt.font:             xft:Iosevka Term:style=Regular:size=16
URxvt.boldFont:         xft:Iosevka Term:style=Bold:size=16
URxvt.italicFont:	xft:Iosevka Term:style=Italic:size=16
URxvt.scrollBar:        false
URxvt.iso14755:         false
URxvt.iso14755_52: false
URxvt.internalBorder:   20
URxvt*letterSpace: -1
URxvt*lineSpace: 8

URxvt*cursorBlink:	true

URxvt.perl-ext-common: "default"
