.mate-panel-menu-bar, .mate-panel-menu-bar menubar,
panel-toplevel.background,
panel-toplevel.background menubar {
  color: white;
  background-color: black; }
.mate-panel-menu-bar menubar,
.mate-panel-menu-bar > #PanelApplet label,
.mate-panel-menu-bar #PanelApplet image,
panel-toplevel.background #PanelApplet label,
panel-toplevel.background #PanelApplet image {
  color: white; }
.mate-panel-menu-bar button label, .mate-panel-menu-bar button image,
.mate-panel-menu-bar #tasklist-button label,
.mate-panel-menu-bar #tasklist-button image,
panel-toplevel.background button label,
panel-toplevel.background button image,
panel-toplevel.background #tasklist-button label,
panel-toplevel.background #tasklist-button image {
  color: inherit; }
  .mate-panel-menu-bar > #PanelApplet button:hover {
    background: black;
  }
.mate-panel-menu-bar .wnck-pager,
panel-toplevel.background .wnck-pager {
  color: gray;
  background-color: rgba(0, 0, 0, 0.5); }
  .mate-panel-menu-bar .wnck-pager:hover,
  panel-toplevel.background .wnck-pager:hover {
    background-color: rgba(13, 13, 13, 0.5); }
  .mate-panel-menu-bar .wnck-pager:selected,
  panel-toplevel.background .wnck-pager:selected {
    color: #ed6666;
    background-color: #d41919; }

